 body {
 	/* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
 	background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
 }

 #clan_tag_ct {
 	background-color: #219ebc;
 	border-color: #219ebc;
 }

 #clan_tag_t {
 	background-color: #FF6E31;
 	border-color: #FF6E31;
 }

 table {
 	border-collapse: separate !important;
 	border-spacing: 0px 15px;
 }

 th,
 td {
 	vertical-align: middle;
 	padding: 5px;
 }

 tbody.lineBgOrange>tr {
 	background-color: #FF6E31;
 }

 tbody.lineBgBlue>tr {
 	background-color: #219ebc;
 }

.error {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
  	justify-content: center;
  	align-items: center;
 }
